In [9]:
import pandas as pd;

In [10]:
l=[12,23,34]
x=pd.Series(l)
print(x)

0    12
1    23
2    34
dtype: int64

In [11]:
date_series = pd.date_range(start = '05-01-2021', end = '05-12-2021')
print(date_series)

DatetimeIndex(['2021-05-01', '2021-05-02', '2021-05-03', '2021-05-04',
               '2021-05-05', '2021-05-06', '2021-05-07', '2021-05-08',
               '2021-05-09', '2021-05-10', '2021-05-11', '2021-05-12'],
              dtype='datetime64[ns]', freq='D')

In [12]:
d = {'name': ['Vinay', 'Kushal', 'Aman'],'age' : [22, 25, 24],'job' : ['engineer', 'doctor', 'accountant']}
df = pd.DataFrame(d)
print(df)

     name  age         job
0   Vinay   22    engineer
1  Kushal   25      doctor
2    Aman   24  accountant

In [13]:
lists = [[2, 'Vishnu', 22],
         [1, 'Kushi', 25],
         [1, 'Amal', 24]]
dataframe = pd.DataFrame(lists, columns = ['id', 'name', 'age'])
print(dataframe)

   id    name  age
0   2  Vishnu   22
1   1   Kushi   25
2   1    Amal   24